input[placeholder] {
    color: #abc;
}

input[placeholder~=order] {
    padding: 10px;
}

[type=text][name=lastName] {
    border: 1px solid #ccc;
}

textarea[name^=ad] {
    text-transform: capitalize;
}
